<% layout("/layouts/boilerplate") %>

    <body>
        <h2 class="text-center mt-4">Your Wishlist</h2>

        <% if (wishlistItems.length === 0) { %>
            <p class="text-center">Your wishlist is empty.</p>
            <% } %>

                <% wishlistItems.forEach(item => { %>
                    <div class="card mb-3 mx-auto" style="max-width: 800px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="<%= item.image_url %>" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= item.name %>
                                    </h5>
                                    <p class="card-text">Price: ₹
                                        <%= item.price %>
                                    </p>
                                    <p class="card-text">Category:
                                        <%= item.category %>
                                    </p>
                                    <a href="/show/<%= item._id %>" class="btn btn-primary">View Item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <style>
                            @media(max-width:760px) {
                                .card {
                                    min-height: 30rem;
                                }
                            }
                        </style>
    </body>